.course-content {
  overflow-y: auto; /* Enable vertical scrollbar */
  max-height: calc(100vh - 56px); /* Adjust as needed to fit the page */
}

.course-scroll {
  padding: 20px;
}

.course-heading {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.course-list {
  /* Additional styling for your course list */
}

/* Ensure the video player is responsive */
.video-js {
  width: 100% !important;
  height: auto !important;
}
