.carousel-container {
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.carousel-slide {
  display: flex;
  transition: transform 0.7s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
  .carousel-container {
    width: 80%;
  }
}
