* {
  margin: 0;
  padding: 0;
}

/* .border-container {
  border: 2px solid black;
  padding: 20px; 
  margin: 20px auto; 
  max-width: 100%;
  box-sizing: border-box; 
 
}

.border-container {
  border: 2px solid black;
  padding: 10px;
}

.border-right {
  border-right: 2px solid black; 
  padding: 10px;
}

.border-bottom {
  border-bottom: 2px solid black; 

}

.border-top {

  border-top: 2px;
} */
